.App {
  text-align: center;
}

.form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form input {
width: 300px;
height: 60px;
margin: 10px;
}
body {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(115, 33, 202), rgb(69, 132, 242));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(107, 17, 203, 0.25), rgba(37, 116, 252, 0.358))
}